:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.egg-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.egg-card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  border: 1px solid #eee;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

/* Hiệu ứng khi chọn */
.egg-card:hover,
.egg-card.active {
  transform: translateY(-10px);
  border-color: #a855f7;
  box-shadow: 0 10px 25px rgba(168, 85, 247, 0.2);
}

.egg-main {
  width: 150px;
  margin-bottom: 20px;
}

.back-btn {
  margin-top: 80px;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.2s;
}
